.tigerSpinner {
  background-image: url("../images/tiger2.png");
  width: 80px;
  height: 80px;
  background-size: contain;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 600ms;
  animation-timing-function: linear;
}

.tigerSpinnerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(0deg);
  }
}
